@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

@font-face {
    font-family: 'Craftwork Grotesk';
    font-weight: 400;
    src: url("../assets/font/CraftworkGrotesk-Regular.ttf");
}

@font-face {
    font-family: 'Craftwork Grotesk';
    font-weight: 500;
    src: url("../assets/font/CraftworkGrotesk-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: #242324;
    background: #FDFDFD;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

@media (max-width: 900px) {

    .container {
        min-width: 300px;
        max-width: 800px;
        margin: 0 38px;
    }

    .header {
        text-align: center;
        margin-top: 20px;
        padding: 20px 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .header__title {
        margin-bottom: 20px;
    }

    .header__link {
        margin-bottom: 12px;
    }

    .header__nav {
        display: flex;
        flex-direction: column;
    }

    .main {
        text-align: center;
        padding-left: 24px;
        padding-right: 23px;
        margin-bottom: 40px;
    }

    .main__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__title {
        font-size: 30px;
        margin-top: 94px;
        margin-bottom: 30px;
    }

    .main__subtitle {
        font-size: 18px;
        margin-bottom: 36px;
    }

    .main__button {
        margin-bottom: 94px;
    }

    .main__graphics {
        display: none;
    }

    .info {
        text-align: center;
    }

    .info__title {
        font-size: 30px;
        border-radius: 26px;
        padding: 38px 92px;
        margin-bottom: 20px;
    }

    .info__text {
        font-size: 18px;
        padding: 96px 44px;
        margin-bottom: 40px;
    }

    .troubles {
        text-align: center;
        margin-bottom: 40px;
    }

    .troubles__title {
        font-size: 30px;
        padding: 43px 19px;
        margin-bottom: 20px;
    }

    .troubles__trouble {
        font-size: 16px;
        padding: 23px 0;
        margin-bottom: 12px;
    }

    .for-who {
        margin-bottom: 40px;
    }

    .for-who__title {
        text-align: center;
    }

    .for-who__title {
        font-size: 30px;
        padding: 19px 42px;
        border-radius: 26px;
        margin-bottom: 20px;
    }

    .can-do {
        margin-bottom: 40px;
    }

    .for-who__box {
        font-size: 16px;
        border-radius: 26px;
        margin-bottom: 12px;
        padding: 26px 51px;
    }

    .can-do__title {
        text-align: center;
        padding: 81px 34px;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .can-do__opportunity {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        padding: 86px 16px;
        margin-bottom: 12px;
    }

    .opportunity__title {
        margin-bottom: 20px;
    }

    .pluses {
        text-align: center;
        margin-bottom: 40px;
    }

    .pluses__title {
        font-size: 30px;
        padding: 81px 65px;
        margin-bottom: 20px;
    }

    .pluses__plus {
        padding: 110px 64px;
        margin-bottom: 12px;
    }

    .command {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .command_title {
        text-align: center;
        flex-basis: 100%;
        font-size: 30px;
        padding: 81px 65px;
        margin-bottom: 20px;
    }

    .test {
        flex-direction: column;
        padding: 0 30px;
        margin-bottom: 40px;
    }

    .test__title {
        font-size: 26px;
        padding-right: 50px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .test__text {
        font-size: 18px;
        margin-bottom: 36px;
    }

    .test__button {
        margin-bottom: 75px;
    }

}

@media (min-width: 900px) {
    .container {
        max-width: 1160px;
        margin: 0 auto;
    }

    .modal {
        display: none;
    }

    .header {
        display: flex;
        align-items: center;
        margin-top: 30px;
        padding: 20px clamp(30px, 4vw, 57px);
        margin-bottom: 40px;
    }

    .header__menu {
        display: none;
    }

    .header__nav {
        display: flex;
        gap: clamp(30px, 3vw, 43px);
    }

    .main {
        display: flex;
        gap: 72px;
        margin-bottom: 120px;
    }

    .main__text {
        margin-left: 99px;
    }

    .main__title {
        margin-top: 90px;
        margin-bottom: 36px;
        font-size: 44px;

    }

    .main__subtitle {
        font-size: 24px;
        margin-bottom: 49px;
    }

    .main__button {
        margin-bottom: 90px;
    }

    .main__graphics img {
        margin: 41px 38px 37px 0;
    }

    .info {
        display: flex;
        gap: 40px;
        margin-bottom: 120px;
    }

    .info__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 44px;
        padding: 102px 45px;
        border-radius: 48px;
    }

    .info__text {
        font-size: 24px;
        padding: 92px 93px;
    }

    .troubles {
        display: flex;

        gap: 41px;
        margin-bottom: 120px;
    }

    .troubles__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 44px;
        padding: 45px 83px;
        max-height: 260px;
        max-width: 560px;
    }

    .troubles__trouble {
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 114px;
        margin-bottom: 26px;
    }

    .for-who {
        display: flex;
        gap: 40px;
        margin-bottom: 120px;
    }

    .for-who__title {
        font-size: 44px;
        border-radius: 48px;
        order: 1;
        padding: 73px 20px;
        max-height: 260px;
        max-width: 260px;
    }

    .for-who__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 26px 26px;
    }

    .for-who__box {
        font-size: 24px;
        border-radius: 56px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .box1 {
        grid-column: 1 / 4;
        padding-right: 78px;
        padding-left: 78px;
    }

    .box2 {
        grid-column: 1 / 3;
        padding-right: 40px;
        padding-left: 40px;
    }

    .box3 {
        padding-right: 38px;
        padding-left: 38px;
    }

    .box4 {
        grid-column: 2/4;
    }

    .can-do {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 40px 40px;
        margin-bottom: 120px;
    }

    .can-do__title {
        font-size: 44px;
        padding: 73px 103px;
    }

    .can-do__opportunity {
        font-size: 24px;
        padding: 40px 49px;
    }

    .opportunity__title {
        margin-bottom: 40px;
    }

    .opportunity__list {
        margin-left: 25px;
    }

    .pluses {
        display: inline-flex;
        gap: clamp(24px, 10vw,40px);
        margin-bottom: 120px;
    }

    .pluses__title {
        font-size: 44px;
        border-radius: 48px;
        order: 1;
        padding: 73px 41px;
        max-height: 260px;
        max-width: 260px;
    }

    .pluses__plus {
        font-size: 24px;
        display: flex;
        align-items: center;
    }

    .plus1 {
        padding: 0 51px;
    }

    .plus2 {
        padding: 26px;
    }

    .plus3 {
        padding: 0 34px;
    }

    .command {
        display: flex;
        gap: 40px 40px;
        flex-wrap: wrap;
        margin-bottom: 120px;
    }

    .command_title {
        font-size: 44px;
        border-radius: 48px;
        order: 1;
        padding: 73px 41px;
        max-height: 260px;
        max-width: 260px;
    }

    .last{
        order: 1;
    }

    .test {
        padding: 68px 81px;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 63px;
    }

    .test__title {
        font-size: 34px;
    }

    .test__text {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 22px;
    }

}

.link {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    border-radius: 19px;
    border: 1px solid #D1D1D1;
}

.header__title {
    color: #242324;
    font-family: 'Craftwork Grotesk', sans-serif;
    font-size: 24px;
    font-weight: 500;

}

.header__nav {
    font-family: 'Craftwork Grotesk', sans-serif;
    font-size: 20px;
}

.header__link {
    color: #242324;
}

.header__button {
    padding: 14px 22px;
    border-radius: 12px;
    background: #242324;
    color: #FFF;
    font-family: 'Craftwork Grotesk', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.main {
    border-radius: 48px;
    border: 1px solid #D1D1D1;
}

.main__title {
    color: #242324;
    font-family: 'Craftwork Grotesk', sans-serif;
    font-weight: 500;
    line-height: 130%;
}

.main__title span {
    color: #6608FF;
}

.main__subtitle {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 150%;
}

.main__button {
    width: 232px;
    height: 64px;
    padding: 10px 29px;
    border-radius: 12px;
    background: #6608FF;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: white;
    font-family: 'Craftwork Grotesk', sans-serif;
    font-size: 16px;
}

.main__graphics img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.info__title {
    font-family: 'Craftwork Grotesk', sans-serif;
    font-weight: 500;
    color: #FFF;
    background: #6608FF;
}

.info__text {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 150%;
    border-radius: 48px;
    border: 1px solid #D1D1D1;
}

.troubles__title {
    font-family: 'Craftwork Grotesk', sans-serif;
    font-weight: 500;
    line-height: 130%;
    border-radius: 48px;
    border: 1px solid #D1D1D1;
}

.troubles__trouble {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    border-radius: 56px;
    border: 1px solid #D1D1D1;
}

.for-who__title {
    font-family: 'Craftwork Grotesk', sans-serif;
    font-weight: 500;
    line-height: 130%;
    color: #FFF;
    background: #6608FF;
}

.for-who__box {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 150%; /* 36px */
    border: 1px solid #D1D1D1;
}

.can-do__title {
    font-family: 'Craftwork Grotesk', sans-serif;
    font-weight: 500;
    line-height: 130%;
    color: #FFF;
    background: #6608FF;
    border-radius: 48px;
}

.can-do__opportunity {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 150%;
    border-radius: 48px;
    border: 1px solid #D1D1D1;
}

.pluses__title {
    font-family: 'Craftwork Grotesk', sans-serif;
    font-weight: 500;
    line-height: 130%;
    color: #FFF;
    background: #6608FF;
    border-radius: 48px;
}

.pluses__plus {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 150%;
    border-radius: 48px;
    border: 1px solid #D1D1D1;
}

.command_title {
    font-family: 'Craftwork Grotesk', sans-serif;
    font-weight: 500;
    line-height: 130%;
    color: #FFF;
    background: #6608FF;
    border-radius: 48px;
}

.command_person img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.test {
    display: flex;
    border-radius: 48px;
    color: #FFF;
    background: #242324;
}

.test__title {
    font-family: 'Craftwork Grotesk', sans-serif;
    font-weight: 500;
    line-height: 130%;
}

.test__text {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 150%; /* 33px */
}

.test__button {
    padding: 20px 29px;
    border-radius: 12px;
    background: #FFF;
    text-align: center;
    color: #242324;
    font-family: 'Craftwork Grotesk', sans-serif;
    white-space: nowrap;
    font-size: 16px;
}

.footer {
    display: flex;
    gap: 31px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.footer__title {
    font-family: 'Craftwork Grotesk', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #242324;
}

.footer__rights {
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 400;
}